@import url('./fonts.css');

* {
    transition: 0.375s;
}

html {
    background: #141526;
}

body {
    margin: 2.5% 5%
}

ps {
    margin-left: 2.5%
}

a {
    color: #006fff;
    text-decoration: none;
}

a:hover {
    color: #2006ff
}

::-webkit-scrollbar {
    background: #141526;
    width: 0.875em;
}
  
::-webkit-scrollbar-track {
    border-radius: 10px
}
  
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.65);
    background-clip: padding-box;
    border: 0.25em solid rgba(0, 0, 0, 0);
    border-radius: 0.5em
}
  
::-webkit-scrollbar-button {
    display: none;
    background: #141526
}
  
::-webkit-scrollbar-corner {
    display: none;
    background: #141526
}

::selection {
    background: rgba(0, 0, 0, 0.75);
    color: #960000
}

nav {
    padding-bottom: 1.25%;
    border-bottom: 1px solid darkgray;
    
}

nav h1, nav h2 {
    display: inline;
}

nav h1 {
    color: #e5022d;
    font: bold 32pt 'TRT', sans-serif;
}

nav h1:hover {
    color: rgb(171, 4, 68)
}

nav h1.premium {
    position: absolute;
    top: -0.375%;
    right: 5%;
    color: gold
}

nav h1.premium:hover {
    color: goldenrod
}

nav h2 {
    position: absolute;
    top: 4.175%;
    vertical-align: bottom;
    color: #f5f5f5;
    font: bold 20pt 'TRT', sans-serif;
}

nav h2:hover {
    color: #c8c8c8
}

div#you-can-with-ayyildiz {
    background: url(https://helpx.adobe.com/content/dam/help/en/stock/how-to/open-in-app-purchase/_jcr_content/main-pars/image_1981313668/open-in-app-purchase_1408x792.jpg)
}

div#ayyildiz-virtuals {
    background: url(https://www.delphix.com/sites/default/files/styles/1920x1080/public/2017-12/istock-664061854.jpg?itok=jBteGwj2)
}

div#libraxion {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-0.45%, #7196ff), color-stop(71.18%, #2a5ee8))
}

div#you-can-with-ayyildiz div#you-can-with-ayyildiz2, div#ayyildiz-virtuals div#ayyildiz-virtuals2, div#libraxion div#libraxion2 {
    padding: 2.5% 5%;
    background-color: rgba(0, 0, 0, 0.75);
}

div h1 {
    color: #f5f5f5;
    font: bold 24pt 'Cocogoose Classic', sans-serif;
}

div p {
    color: #dcdcdc;
    font: 12pt 'TRT', sans-serif;
}

table {
    margin: auto
}

table th, table td {
    padding: 3.75%
}

table th {
    color: #f0f0f0;
    font: 16pt 'Cocogoose Classic', sans-serif
}

table tr {
    color: #dcdcdc
}

table tr:nth-child(even) {
    background: #404040
}

table tr td:nth-child(1) {
    font: bold 13pt 'Lato', sans-serif
}

table tr td:nth-child(2) {
    font: bold 12pt 'Raleway', sans-serif
}

button#login-button {
    position: absolute;
    left: 37.5%;
    margin: auto;
    padding: 1%;
    background: none;
    color: #f5f5f5;
    width: 25%;
    font: bold 32pt 'TRT', sans-serif;
    border: 3px solid #f5f5f5;
    cursor: pointer;
}

button#discord-login /*, button#google-login, button#ayyildiz-login */ {
    height: 10%;
    width: 25%;
    border: 3px solid transparent;
    cursor: pointer;
}

button#discord-login {
    padding-top: 1%;
    background: #7289da;
    color: #ffffff;
    font: 13pt 'TRT', sans-serif
}

button#discord-login img {
    margin-top: -3.5%;
    width: 17.5%;
    float: left
}

/*

button#google-login {
    background: url('Sign in with Google.png');
    background-repeat: no-repeat;
}

*/